


<!doctype html>
<html lang="en">
<head>





    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Inventory requests</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><i class="fa fa-home"></i> Inventory requests</a>
    <% if user_signed_in? %>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>

                    <strong><%= current_user.email %></strong>.
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">


                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>




                </div>
            </li>
        </ul>
    </div>
      <% end %>
</nav>





<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li><a href="<%= inventories_path %>"><i class="fa fa-fw fa-link"></i> Inventory requests</a></li>

            <li><a href="<%= new_inventory_path %> "><i class="fa fa-fw fa-link"></i> New inventory request</a></li>

        </ul>
    </div>

    <div class="content p-4">
        <h2 class="mb-4"></h2>

        <div class="card mb-4">
            <div class="card-body">

                <%= yield %>
            </div>
        </div>
    </div>
</div>



</body>
</html>
